.about {
    padding: 110px 0;
    max-width: 1140px;
    width: calc(100% - 140px);
  }
  
  @media screen and (max-width: 1024px) {
    .about {
      padding: 100px 0;
      width: calc(100% - 120px);
    }
  }
  
  @media screen and (max-width: 768px) {
    .about {
      padding: 90px 0;
      width: calc(100% - 100px);
    }
  }
  
  @media screen and (max-width: 425px) {
    .about {
      padding: 70px 0;
      width: calc(100% - 36px);
    }
  }
  
  .about__two-columns {
    display: flex;
    margin: 70px 0 110px;
  }
  
  @media screen and (max-width: 768px) {
    .about__two-columns {
      margin-bottom: 90px;
    }
  }
  
  @media screen and (max-width: 425px) {
    .about__two-columns {
      flex-direction: column;
      margin: 60px 0;
    }
  }
  
  .about__column:not(:last-of-type) {
    margin-right: 40px;
  }
  
  @media screen and (max-width: 425px) {
    .about__column:not(:last-of-type) {
      margin-bottom: 60px;
    }
  }
  
  .about__column-title {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: -0.04em;
  }
  
  @media screen and (max-width: 425px) {
    .about__column-title {
      font-size: 18px;
      line-height: 22px;
    }
  }
  
  .about__column-text {
    max-width: 550px;
    margin: 26px 0 0;
    font-size: 14px;
    line-height: 20px;
  }
  
  @media screen and (max-width: 768px) {
    .about__column-text {
      margin: 22px 0 0;
      font-size: 12px;
      line-height: 18px;
    }
  }
  
  @media screen and (max-width: 425px) {
    .about__column-text {
      margin: 16px 0 0;
      font-size: 11px;
      line-height: 16px;
    }
  }
  
  .about__timeline {
    display: grid;
    grid-template-columns: minmax(140px, 228px) minmax(528px, 912px);
    justify-items: stretch;
  }
  
  @media screen and (max-width: 768px) {
    .about__timeline {
      grid-template-columns: minmax(100px, 140px) minmax(184px, 528px);
    }
  }
  
  .about__cell {
    text-align: center;
    width: 100%;
    font-size: 14px;
    line-height: 17px;
  }
  
  @media screen and (max-width: 425px) {
    .about__cell {
      font-size: 11px;
      line-height: 13px;
    }
  }
  
  .about__cell_type_one-week {
    padding: 10px 0;
    background-color: #3DDC84;
    color: #000000;
  }
  
  .about__cell_type_four-week {
    padding: 10px 0;
    background-color: #303030;
    color: #FFFFFF;
  }
  
  .about__cell_type_lable {
    padding: 14px 0 0;
    color: #8B8B8B;
  }
  
  @media screen and (max-width: 425px) {
    .about__cell_type_lable {
      padding-top: 10px;
    }
  }