.root {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background-color: #202020;
  color: #FFFFFF;
  background-size: cover;
  margin: 0;
}

.root__container {
  margin: 0 auto;
  width: calc(100% - 140px);
  max-width: 1280px;
  width: 100%;
}