.movies {
    max-width: 1140px;
    width: calc(100% - 140px);
  }
  
  @media screen and (max-width: 1024px) {
    .movies {
      width: calc(100% - 100px);
    }
  }
  
  @media screen and (max-width: 768px) {
    .movies {
      width: calc(100% - 60px);
    }
  }
  
  @media screen and (max-width: 425px) {
    .movies {
      width: calc(100% - 20px);
    }
  }
  
  
  .movies__list {
    list-style: none;
    margin: 0;
    padding: 70px 0 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 37px 24px;
  }
  
  @media screen and (max-width: 768px) {
    .movies__list {
      row-gap: 30px;
    }
  }
  
  @media screen and (max-width: 425px) {
    .movies__list {
      row-gap: 14px;
      padding: 40px 0 10px;
    }
  }

  .movies__not-found {
    display: flex;
    justify-content: center;
    margin: 20px 0 0;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }