.header {
    background-color: #073042;
    max-width: 1280px;
    width: 100%;
  }
  
  .header__container {
    margin-bottom: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 74px;
    width: calc(100% - 140px);
    margin: 0 auto;
  }

  @media screen and (max-width: 525px) {
    .header__container {
      width: calc(100% - 28px);
    }
  }

  .header__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    transition: 0.4s ease-in-out;
  }

  @media screen and (max-width: 525px) {
    .header__link {
      font-size: 10px;
    }
  }
  
  .header__link:hover {
    opacity: 0.6;
  }
  
  .header__link:not(:last-child) {
    margin: 0 30px 0 0;
  }
  
  .header__link_style_login {
    color: #000000;
    background-color: #3DDC84;
    padding: 8px 20px;
    border-radius: 3px;
  }
  
  .header__menu-btn {
    display: none;
    border: none;
    padding: 0;
    background-color: transparent;
    background-image: url(../../images/burger_icon.svg);
    width: 44px;
    height: 44px;
    cursor: pointer;
  }
  
  @media screen and (max-width: 768px) {
    .header__menu-btn {
      display: block;
    }
  }